
.setting-bck {
    position: fixed;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    background: rgba(0, 0, 0, 0.25);

    .container-setting {
        position: absolute;
        background: teal;
        top: 1rem;
        left: 1rem;
        right: 1rem;

        header {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-block-end: 1px solid black;

            .setting-title {
                font-size: 1.25em;
                text-transform: capitalize;
            }
            i {
                font-size: 1.25em;
            }
        }

        .setting-cat {
            padding: 1rem;

            > * {
                padding: 1rem 0;
            }
            > *:not(:last-child) {
                border-block-end: 1px solid black;
            }

            .cat-title {
                display: block;
                text-transform: uppercase;
                text-align: center;
                margin-block-end: 0.5rem;
            }

            .time-container {
                display: flex;
                flex-flow: column;
                
                label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    font-size: 0.85em;
                    
                    input {
                        width: 50%;
                        border: none;
                        outline: none;
                        padding: 0.7rem;
                        font-size: 1em;
                        margin-block-start: 0.25rem;
                    }
                }
            }
        }

        button {
            display: block;
            position: relative;
            bottom: -1.5rem;
            width: 30%;
            margin: auto;
            border: none;
            outline: none;
            text-transform: capitalize;
            background: coral;
            padding: 1rem;
            font-size: 1em;
        }

    }

    @media screen and (min-width:768px) {
        .container-setting {
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .setting-cat {

                .cat-title {
                    text-align: left;
                }

                .time-container {
                    flex-flow: row;
                    justify-content: space-between;

                    label { 
                        width: 30%;
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}