

.container-timer {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    text-align: center;

    .timer-time {
        display: block;
        font-size: 5em;
    }

    .timer-msg {
        display: block;
        font-size: 2em;
        text-transform: uppercase;
    }
}